*{
    margin: 0;
    padding: 0;
}
html{
    background-color: white;
}
body{
    display: grid;
    margin: 0 auto;
}
body header{
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #0B5C96;
}
body header img{
    width: 75px;
    height: auto;
    border-radius: 50%;
    border: 3px solid black;
}
#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
body main h3{
    padding: 5px;
}
body main img {
    border-radius: 5%;
    border: 5px solid #080808;
    position: relative;
    display: block;
    width: 250px;
    height: auto;
    justify-content: space-around;
    float: left;
}
main{
    width: 100%;
    height: auto;
    margin: 0 auto;
}
footer{
    position: relative;
    width: 100%;
    bottom:0;
    background-color: #0B5C96;
    margin: 0 auto;
}
#contact{
    color: white;
    padding: 20px;
}
#copyright{
    background-color: black;
    color: white;
    padding: 5px;
}
nav {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
nav a {
    color: white;
    width: 100%;
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    padding-top: 35px;
    margin: 0 auto;
}
nav a:hover {
    background-color: #ddd;
    color: black;
    border: 2px solid white;

}
nav a:active {
    background-color: purple;
    color: white;
}