@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@300&family=PT+Sans&display=swap');

/* css for index page*/
#content{
    max-width: 1600px;
    margin: 0 auto;
}
#rates{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px; 
}
#hero{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px; 
}
#hero-box{
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
    -webkit-mask-image:-webkit-gradient(linear, left top, right top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0.6)));
          mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}
#hero-msg{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#rates-msg{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 150px;
}
#hero-msg h1, #hero-msg h4, #rates-msg h1, #rates-msg h4 {
    text-align: center;
    color: white;
}
#hero-img{
    width: 100%;
}
#background{
    height: 725px;
    background-color: #227396;
    grid-column: 1/11;
    grid-row: 4/9;
}
#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
nav a {
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 35px;
}
nav a:hover{
 color: #1b065e;
}
.home-grid{
    display:grid;
    grid-template-columns: repeat(10, 1fr);
}
.contact-grid{
    display:grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(9, 1fr);
    margin: 0;
    margin-top: -6px;
    z-index: -1;
    background-image: url("https://evankhoo.github.io/wdd130/wwr/images/background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}
.home-title{
    color: black;
    font-size: 2em;
    margin-top: 10px;
}
.button-box{
    text-align: center;
}
.book-now{
    text-align: center;
    padding: 50px;
}
.book, .join{
    background-color:#227396;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.rivers-card, .camping-card, .rapids-card, .mountains{
    margin: 200px 0;
}
.rivers-card{
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card{
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card{
    grid-column: 8/10;
    grid-row: 2/3;
}
.mountains{
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}
.cabins, .canyon, .calorado, .river{
    margin-top: 100px;
    margin-bottom: 50px;
    z-index: 0;
    box-shadow: 5px 5px 10px #6f7364;
}
.cabins{
    grid-column: 2/4;
    grid-row: 1/3;
}
.canyon{
    grid-column: 2/4;
    grid-row: 3/5;
}
.colorado{
    margin-top: 50px;
    grid-column: 2/4;
    grid-row: 5/7;
}
.river{
    grid-column: 2/4;
    grid-row: 7/9;
}
.one, .two, .three, .four{
    background-color: black;
    color: #227396;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 5/10;
    box-shadow: 5px 5px 10px #6f7364;
    box-shadow: 5px 5px 10px #6f7364;
    width: 100%;
    height:  75%;
    z-index: 1;
}
.one h4, h3, p{
    margin: 0;
}
.one{
    grid-row: 2/3;
    margin: 20px;
    padding: 20px;
}
.two h4, h3, p{
    margin: 0;
}
.two{
    grid-row: 4/5;
    margin: 20px;
    padding: 20px;
}
.three h4, h3, p{
    margin: 0;
}
.three{
    grid-row: 6/7;
    margin: 20px;
    padding: 20px;
}
.four h4, h3, p{
    margin: 0;
}
.four{
    grid-row: 8/9;
    margin: 20px;
    padding: 20px;
}
.book:hover, .join:hover{
    color: black;
}
.msg{
    background-color: black;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}
.msg h2{
    color: #227396;
    font-family: "PT sans", "Montserrat";
}
.msg p{
    color: #227396;
    font-size: .8em;
    padding-bottom: 15px;
}
.logo{
    width: 80px;
}
.icon{
    width: 80px;
    padding-top: 10px;
}
.card-img{
    border: 10px solid #227396;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover{
    opacity:6;
    transform:scale(1.1);
}
.card-img, .mountains {
    width: 100%;
}
h4{
    color: black;
}
body{
    background-color: #e6ecef;
    color: black;
    font-family: "Montserrat", "Lato", "PT-sans" ;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h2{
    margin: 0;
}
header{
    background-color: #227396;
    color: black;
    display: grid;
    grid-template-columns: 150px auto;
}
body header nav{
    display: flex;
    justify-content: space-around;
}
body main section {
    text-align: center;
    box-sizing: border-box;
}
body footer{
    background-color: #227396;
    padding: 25px 50px;
    margin-top: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
body footer h3{
    color: black;
}
body footer h3 a{
    color: black;
    text-decoration: none;
}
body footer a:hover{
    color: white;
}
body footer h3 a:hover{
    text-decoration: underline;
}
body footer .social img{
    padding-top:15px;
}
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}
