*{
    margin: 0;
    padding: 0;
}
html{
    background-color: white;
}
#content{
    max-width: 1600px;
    margin: 0 auto;
}
.container {
    margin-top: 50px;
    margin-bottom: -10px;
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
    width: 50%;
    height: auto;
    float: left;
  }
    .mySlides img{
        width: 100%;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    margin-left: -42px;
    border-radius: 3px 0 0 3px;
  }
  .prev {
    left: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 1);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    border-radius: 5%;
  }
  .active,
  .demo:hover {
    opacity: .8;
    transition: transform 0.5s;
    transform: scale(0.95);
  }
#top{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
#top-back{
    grid-column: 1/11;
    grid-row: 1/5;
    z-index: -1;
    -webkit-mask-image:-webkit-gradient(linear, center top, center top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0.5)));
          mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0.5));
}
#top-front{
    box-shadow: 2px 1px 10px #6f7364;
    margin-top: 25px;
    grid-column: 2/7;
    grid-row: 1/3;
    z-index: 0;
    height: 80%;
}
#top-front h1, #top-front h3 {
    text-align: center;
    color: black;
}
#top-front h1{
    margin-top: 100px;
    font-size: 50px;
}
#top-front h3{
    font-size: 30px;
}
#top-img{
    width: 100%;
    z-index: -1;
}
#profile-img{
    grid-column: 6/11;
    grid-row: 2/5;
    z-index: 1;
    margin-top: 75px;
}
#profile-img-img{
    width: 75%;
    height: auto;
    box-shadow: 5px 5px 10px #6f7364;
    
}
#contact-top{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 232px;
}
#front-contact{
    box-shadow: 2px 1px 10px #6f7364;
    margin-top: 25px;
    grid-column: 3/9;
    grid-row: 1/3;
    z-index: 0;
    height: 20%;
    text-align: center;
}
#front-contact h1{
 font-size: 40px;
}
#back-contact{
    grid-column: 1/11;
    grid-row: 1/2;
    height: 30%;
    z-index: -1;
    -webkit-mask-image:-webkit-gradient(linear, center top, center top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0.5)));
          mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0.5));
}
.contact-grid{
    display:grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-columns: repeat(9, 1fr);
    margin-bottom: -6px;
    z-index: -1;
}
.intro{
    margin-top: 2px;
    grid-column: 2/10;
    grid-row: 1/3;
    text-align: center;
    color: black;
    padding: 30px;
    height: 30%;
    box-shadow: 1px 1px 5px #6f7364;
}
.intro-banner{
    padding-top: 2px;
}
.intro-banner img{
    grid-column: 1/4;
    box-shadow: 1px 1px 5px #6f7364;
}
.blog{
    margin-top: 10px;
    grid-column: 2/9;
    grid-row: 1/3;
    text-align: center;
    color: black;
    padding: 30px;
    height: 30%;
    box-shadow: 1px 1px 5px #6f7364;
}
header{
    background-color: #0B5C96;
    color: black;
    display: grid;
    grid-template-columns: 150px auto;
}
body header nav{
    display: flex;
    justify-content: space-around;
}
body main section {
    text-align: center;
    box-sizing: border-box;
}
body header img{
    width: 75px;
    height: auto;
    border-radius: 50%;
    border: 3px solid black;
}
#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
footer{
    position: relative;
    width: 100%;
    bottom:0;
    background-color: #0B5C96;
    margin: 0 auto;
}
#contact{
    color: white;
    padding: 30px;
    float: left;
    z-index: 0;
}
#copyright{
    background-color: black;
    color: white;
    padding: 5px;
    z-index: -1;
}
body footer .social{
    padding-left: 700px;
    padding-top:15px;
    padding-bottom:15px;
    z-index: -1;
}
body footer .social img{
    padding-left: 10px;
    z-index: -1;
}
nav {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
nav a {
    color: white;
    width: 100%;
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    padding-top: 35px;
    margin: 0 auto;
}
nav a:hover {
    background-color: #ddd;
    color: black;
    border: 2px solid white;

}
nav a:active {
    background-color: purple;
    color: white;
}
/*styling the contact us form*/
form {
    /* Center the form on the page */
    margin: 20px;
    width: 400px;
    height: 200px;
    grid-column: 5/8;
    /* Form outline */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: center;
  }
  
  input,
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 1px solid #999;
    text-align: left;
  }
  
  input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
  }
  
  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
  }
  
  .button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: .5em;
    width: 300px;
    height: 30px;
    background-color: black;
    color: white;
  }
  #feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;  
}
.moveDown {
    margin-top: 3em;
}
